<nav class="navbar-private navbar navbar-expand-lg position-fixed w-100">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand">Madrid Store</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/products" aria-current="page">Products</a>
        </li>
      </ul>
    </div>
    <div class="d-flex">
      <a role="button" class="position-relative">
        <img src="svg/cart.svg" routerLink="/cart" width="30">
        <span id="navbar-total-items" *ngIf="totalItems" class="position-absolute top-0 start-0 translate-middle badge rounded-pill bg-danger">
          {{totalItems}}
        </span>
      </a>
    </div>
  </div>
</nav>
