<section>
    <h3 class="fw-bold text-center">SUMMARY ORDER</h3>
    <div class="border-bottom">
        <div class="d-flex justify-content-between">
            <p class="m-0 fw-bold text-secondary">Subtotal:</p>
            <p>{{subTotal | currency:'EUR'}}</p>
        </div>
        <div class="d-flex justify-content-between">
            <p class="m-0 fw-bold text-secondary">Shipping price:</p>
            <p>{{ shippingPrice | currency:'EUR'}}</p>
        </div>
        <div class="d-flex justify-content-between">
            <p class="m-0 fw-bold text-secondary">IVA:</p>
            <p>{{ buildIva | currency:'EUR'}}</p>
        </div>
    </div>
    <div class="d-flex mt-2 justify-content-between">
        <p class="m-0 fw-bold text-dark">Estimated total:</p>
        <p>{{totalPrice | currency:'EUR'}}</p>
    </div>
    <div class="d-grid gap-2">
        <button class="btn btn-dark w-100" (click)="payCart()">
            <div class="d-flex justify-content-center align-items-center gap-2 p-1">
                <p class="m-0">Credit/Debit Card</p>
                <img class="fw-bold" src="svg/credit-card-2-front.svg" width="24">
            </div>
        </button>
        <button class="btn btn-primary w-100" (click)="payCart()">
            <div class="d-flex justify-content-center align-items-center gap-2 p-1">
                <p class="m-0">Paypal</p>
                <img class="fw-bold" src="svg/paypal.svg" width="24">
            </div>
        </button>
    </div>
</section>
