<section>
    <h4>RESUMEN DE PEDIDO</h4>
    <div style="border-bottom: 1px solid black;" class="">
        <div class="d-flex justify-content-between">
            <p class="m-0">Subtotal:</p>
            <p>{{subTotal | currency}}</p>
        </div>
        <div class="d-flex justify-content-between">
            <p class="m-0">Envio:</p>
            <p>{{ shippingPrice | currency}}</p>
        </div>
        <div class="d-flex justify-content-between">
            <p class="m-0">IVA:</p>
            <p>{{ buildIva | currency}}</p>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <p class="m-0">Total estimado:</p>
        <p>{{totalPrice | currency}}</p>
    </div>
    <div class="d-grid">
        <button class="btn btn-primary" (click)="payCart()" type="button">PAGAR</button>
    </div>
</section>
