<div class="d-flex gap-1">
    <img style="width: 10rem;" [src]="product().image">
    <div class="flex-fill">
        <div class="d-flex justify-content-between">
            <p style="flex:1">{{product().title}}</p>
            <p style="flex: 2;">{{product().price}}</p>
        </div>
        <p style="flex: 2;">{{product().category}}</p>
        <p>x{{product().quantity}}</p>
        <a (click)="onRemoveProduct()" role="button" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Eliminar del carrito</a>
    </div>
</div>

{{loger()}}