<section class="container">
    <div class="row">
        <section class="col-md-6 vh-100">
            <div class="d-flex align-items-baseline gap-1">
                <h1 class="fw-bold">CARRO</h1>
                <span class="fw-bold">{{cartStore.products().length}} productos</span>
            </div>
            <p>Entrega estimada: 4-7 dias</p>
            <div class="overflow-auto" style="height:60%">
                @for (product of cartStore.products(); track $index) {
                    <app-cart-item (removeProduct)="removeFromCart($event)" [product]="product"></app-cart-item>
                }
            </div>
        </section>
        <section class="col-md-6" >
            <app-cart-summary (confirmOrder)="confirmOrder()" ></app-cart-summary>
        </section>
    </div>
</section>
