/* HTML: <div class="loader"></div> */

.backdrop{
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  opacity: 0.8;
  z-index: 10;
  justify-content: center;
  align-items: center;
}
.loader {
    width: 100px;
    aspect-ratio: 1;
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    filter: blur(3px) contrast(10) hue-rotate(180deg);
  }
  .loader:before,
  .loader:after{ 
    content: "";
    grid-area: 1/1; 
    width: 40px;
    height: 40px;
    background: #ffff00;
    animation: l7 2s infinite;
  }
  .loader:after{ 
    animation-delay: -1s;
  }
  @keyframes l7{
    0%   {transform: translate(   0,0)}
    25%  {transform: translate(100%,0)}
    50%  {transform: translate(100%,100%)}
    75%  {transform: translate(   0,100%)}
    100% {transform: translate(   0,0)}
  }